hr{
    width:30%;
    text-align:left;
    margin-left:0;
    height:200%;
    color: rgb(213, 95, 135);
    

}
.navigation-bar 
{
    background-color: #ffede9;
}


div 
{
    margin: auto;
}
.heading 
{
    background-color: #ffede9;
}
.ellipse{
    
    transform: rotate(90deg);
}


.card-data
{
    width: 25rem;
    background-color: #ffede9;
}

.tricks-section 
{
    background-color: #ffede9;
}

.footer-items 
{
    background-color: rgb(80, 89, 98);
    color: white;
}

